@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navbar{
    position: absolute; 
    top: 0;
    width: 90vw;
    padding: 0 5vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84.17%);
}
.navbarLogo{    
    font-size: 30px;   
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    line-height: 70px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.help{
    font-size: 20px;   
    font-family: 'Montserrat';
    font-weight: 500;
    color: rgb(255, 255, 255); 
    padding: 10px 40px;
    border: 3px dotted rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.helpMobile{
    display: none;
}

.modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .help{
        display: none;
        color: white;
        border-color: rgb(0, 0, 0);
        box-shadow: 0px 0px 100px 4px #676767;

    }
    .helpMobile{
        display: block;
        margin-top: 50px;
    }
  }
